<a href='users/logout'><h6 id="logout">log out</h6></a>
<h5 id="welcome-user">watup, <span> <%= currentUser.username %></span> </h5>

<!-- Current topic title and description -->
<div id='show-topic'>
	<h1><%=topic.topic%></h1>
	<p><%=topic.description%></p>
</div>


<a href='/<%=topic._id%>/new_post'><div class='add-post-button'>add an article <span class='plus-sign'>+</span></div></a>
<% topic.posts.forEach(function(post, i){%>
	<div class='post'>
		<div class='attribution'>
			<h4 class='post-title'><%=post.title%></h4>
			<a href='/users/<%=post.author%>/posts'<h5 class='post-author'><%=post.author%></h5></a>
		</div>
		<div class='vote'>
			<form action='#' method="post">
				<input class='up-vote' type="submit" value="&#9650;">	
			</form>
			<form action="#" method="post">
				<input class='down-vote' type="submit" value="&#9660;">	
			</form>
		</div>
		<p class='post-content'>
			<%=post.content%>
		</p>
	</div>
<%})%>
